<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{myTitle}}</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
        media="screen" title="no title" charset="utf-8"> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="/static/style.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>
    <script>
        var chatMessages_a = [];
        var chatMessages_b = [];
        var chatMessages_c = [];
        var chatMessages_d = [];
        var chatMessages_e = [];
        var chatMessages_f = [];
        var textObjs = ['', '', '', '', '', ''];

        var refresh = function () {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:3030/message",
                dataType: 'JSON',
                success: function (response) {
                    //console.log(typeof response["xL0ch83RAK8"].datetime);
                    //document.getElementById('datetime').innerHTML = response["JVU1Q5GgGY0"].datetime;
                    //document.getElementById('name').innerHTML = response["JVU1Q5GgGY0"].author;
                    if (typeof response["xL0ch83RAK8"] === "object" || typeof response["xL0ch83RAK8"] !== "undefined") {
                        textObjs[0] = response["xL0ch83RAK8"].datetime + " - " + response["xL0ch83RAK8"].author + " : " + response["xL0ch83RAK8"].message;
                    } else {
                        textObjs[0] = "live chat is not available";
                    }

                    if (typeof response["jfKfPfyJRdk"] === "object" || typeof response["jfKfPfyJRdk"] !== "undefined") {
                        textObjs[1] = response["jfKfPfyJRdk"].datetime + " - " + response["jfKfPfyJRdk"].author + " : " + response["jfKfPfyJRdk"].message;
                    } else {
                        textObjs[1] = "live chat is not available";
                    }

                    if (typeof response["_QbRXRnHMVY"] === "object" || typeof response["_QbRXRnHMVY"] !== "undefined") {
                        textObjs[2] = response["_QbRXRnHMVY"].datetime + " - " + response["_QbRXRnHMVY"].author + " : " + response["_QbRXRnHMVY"].message;
                    } else {
                        textObjs[2] = "live chat is not available";
                    }
                },
            })
        }
        setInterval("refresh()", 1000);

        $(document).ready(function () {
            $("#chatdiv_a").append(textObjs[0]);
            $("#chatdiv_b").append(textObjs[1]);
            $("#chatdiv_c").append(textObjs[2]);
            setInterval(function addChatMessage() {
                chatMessages_a.push(textObjs[0]);
                chatMessages_b.push(textObjs[1]);
                chatMessages_c.push(textObjs[2]);
            }, 1000);
            setInterval(function showChatMessageAndScroll() {
                var textdiv_a = $("#textdiv_a");
                var chatdiv_a = $("#chatdiv_a");
                var textdiv_b = $("#textdiv_b");
                var chatdiv_b = $("#chatdiv_b");
                var textdiv_c = $("#textdiv_c");
                var chatdiv_c = $("#chatdiv_c");
                textdiv_a.html("");
                textdiv_b.html("");
                textdiv_c.html("");
                $.each(chatMessages_a, function (i, e) {
                    textdiv_a.append("<span>" + e + "</span><br/>");
                });
                $.each(chatMessages_b, function (i, e) {
                    textdiv_b.append("<span>" + e + "</span><br/>");
                });
                $.each(chatMessages_c, function (i, e) {
                    textdiv_c.append("<span>" + e + "</span><br/>");
                });
                //console.log(textdiv_a.height());
                chatdiv_a.scrollTop(textdiv_a.outerHeight());
                chatdiv_b.scrollTop(textdiv_b.outerHeight());
                chatdiv_c.scrollTop(textdiv_c.outerHeight());
            }, 1500);
        });
    </script>
</head>

<body>
    <div id="container">
        <div id="chatdiv_a">
            <div id="textdiv_a"></div>
        </div>

        <div id="chatdiv_b">
            <div id="textdiv_b"></div>
        </div>

        <div id="chatdiv_c">
            <div id="textdiv_c"></div>
        </div>
    </div>

    <div id="mobile-message">
        <p>This project is not optimised for mobile. Please visit this link on your desktop.</p>
    </div>
</body>

</html>